.projects,
.ProjectDetail {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.projects .card {
    background: var(--mirror-effet-radial);
    backdrop-filter: blur(10px);
    border: 1px solid var(--bg-color-secondary);
}

.projects .card .card-body {
    padding: 0;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects .card .card-body img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 3s infinite;
}

.projects .card .card-body img:hover {
    transform: scale(1.5);
}

.projects .card h5,
.projects .card p {
    color: var(--text-color-primary);
}

/* Projets.css - Ajoutez ces styles */
.ProjectDetail .card .card-body {
    max-height: 500px;
}

.ProjectDetail .card .card-body img {
    height: 100%;
}

/* Responsive */
@media (max-width: 758px) {
    .ProjectDetail .card .card-body {
        max-height: 250px;
    }

    .ProjectDetail .card .card-body img {
        height: 100%;
    }

    .projects .card .card-body {
        padding: 0;
        min-height: 250px;
        
    }
}